#Ucontainer{
    display: flex;
    height: 350px;
    width: 80%;
    margin: auto;
}
#Uleft{
    width: 28%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 300px;
}
#Uright>div{
    margin-left: 10px;
    width: 800px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    height:200px;
    margin-top: 10px;
    display: flex;
}
#image{
    height: 100%;
    width: 20%;
    margin: auto;
    text-align: center;
    /* border: 1px solid red; */
}
#content{
    height: 100%;
    width: 55%;
    line-height: 5px;
    font-size: 17px;
    font-family: sans-serif;
    color: rgb(66,72,88);
}
#button{
    height: 100%;
    width: 22%;
    text-align: center;
    opacity: 0.7;
}
#btnlogo{
    border: 0;
    padding: 10px 25px 10px 25px;
    margin-top: 20px;
    border-radius: 5px;
}
#btnlogo:hover{
    color: white;
    background-color:rgb(8,124,222);
}